* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.encabezado {
	padding: 10px;
    width: 100%;
    height: 130px;
    float: inline-start;
}

.titulo{
    width: 1090px;
    height: 70px;
    padding: 15px;
    float: right;
}

.logo{
    width: 100px;
    padding: 10px;
    float: left;
}

.menu {
	list-style: none;
	padding: 0px;
    width: 230px;
    height: 100%;
    position: fixed;
    overflow: auto;
    float: left;
}