body{
    background: #092327;
}

.encabezado {
    background: #30323d;
    list-style: none;
}

.logo{
    position: relative;
}

h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Heavy', sans-serif;
    color: #e8c547;
}

.menu{
    background: #092327;
    border-radius: 3px;
}

.menu li {
	display: grid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.menu li a {
	color: whitesmoke;
	text-decoration: none;
	display: block;
    padding: 20px;
    border-radius: 6px;
}

.menu a.active{
    background-color: #313A75;
}

.menu a:hover:not(.active){
    background-color: #30323d;
    color: whitesmoke;
}

.main{
    background: #e8c547;
    padding: 10px 16px;
}

.articulo{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif
}

/*Tamannio de imagenes dentro de class: galeria*/
.galeria{
    background:#000500;
}
.galeria img {
	vertical-align: top;
	width: 350px;
	margin: 10px;
	padding: 5px;
	opacity:0.5;
	border:1px solid #484848;
}

.galeria img:hover {
	border: 2px solid #fff;
	opacity: 1;
}

/*Pie de pagina*/
div footer{
    text-align: center;
    font-style: italic;
    color: blanchedalmond;
}

#email, #telf{
    color: #e8c547;
}

.pie{
    background: #30323d;
    text-align: center;
    padding-top: 35px
}

/*CONTACTOS*/
.formulario {
	background: #fff;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
}

.formulario input {
	display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border:1px solid #226fc1;
	font-family: Arial;
	font-size: 16px;
}

.formulario textarea {
	min-height: 120px;
	max-height: 300px;
	min-width:100%;
	max-width: 100%;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border: 2px solid #4fb560;
}

.formulario input[type="submit"] {
	width: 200px;
	margin:0 auto;
	background: none;
	border: 1px solid #4fb560;
	color:#4fb560;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}

.formulario input[type="submit"]:hover {
	background: #4fb560;
	color: #fff;
} 

/*Imagenes*/
#pray img:hover {
	border: 2px solid #fff;
	opacity: 1;
}

#prof img {
	vertical-align: top;
	width: 500px;
	margin: 10px;
	padding: 5px;
	opacity:0.5;
	border:1px solid #484848;
}

#prof img:hover {
    border: 2px solid #fff;
    opacity: 1;
}

#prof{
    background:#000500;
    margin-left: 470px;
    margin-right: 499px;
}

/*Media*/

#media{
    background:#000500;
}

#media iframe {
	vertical-align: top;
	width: 350px;
	margin: 10px;
	padding: 5px;
	opacity:0.5;
	border:1px solid #484848;
}

#media iframe:hover{
	border: 2px solid #fff;
    opacity: 1;
}