body{
    background: #092327;
}

.encabezado {
    background: #30323d;
    list-style: none;
}

.logo{
    position: relative;
}

h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Heavy', sans-serif;
    color: #e8c547;
}

.menu{
    background: #092327;
    border-radius: 3px;
}

.menu li {
	display: grid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	display: block;
    padding: 20px;
    border-radius: 6px;
}

.menu a.active{
    background-color: #313A75;
}

.menu a:hover:not(.active){
    background-color: #30323d;
    color: whitesmoke;
}

.main{
    background: #e8c547;
    padding: 10px 16px;
}

.articulo{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif
}

/*Tamannio de imagenes dentro de class: galeria*/
.galeria{
    background:#000500;
}
.galeria img {
	vertical-align: top;
	width: 350px;
	margin: 10px;
	padding: 5px;
	opacity:0.5;
	border:1px solid #484848;
}

.galeria img:hover {
	border: 2px solid #fff;
	opacity: 1;
}

/*Pie de pagina*/
div footer{
    text-align: center;
    font-style: italic;
    color: blanchedalmond;
}

#email, #telf{
    color: #e8c547;
}

.pie{
    background: #30323d;
    text-align: center;
    padding-top: 35px
}